.navigation {
    position: absolute;
    bottom: 0;
}

.navigation-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

.button-icon {
    background-color: #FFFFFF;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #9b9b9b;
}

.button-plus-inner {
    border: none;
    background-color: #594FDD;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-plus-outer {
    border-radius: 100%;
    background-color: #FFFFFF;
    border: none;
    max-width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: visible;
    padding-bottom: 5px;
}

.active button {
    color: #594fdd;
}