.task {
	width: calc(100% - 2rem);
	background-color: white;
	padding: 0.75rem;
	box-sizing: border-box;
	margin: 1rem;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	/* border-right: 8px solid #bdb9f3; */
	font-size: 1rem;
	font-family: "Noto Sans", sans-serif;
	outline: none;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-radius: 10px 0 0 10px;
}

.personal {
	border-right: 8px solid #a0ced9;
}

.general {
	border-right: 8px solid #ffee93;
}

.work {
	border-right: 8px solid #ffc09f;
}

.new-task input:nth-of-type(1) {
	width: calc(100% - 2rem);
	padding: 0.75rem;
	box-sizing: border-box;
	align-self: center;
	font-family: "Noto Sans", sans-serif;
	outline: none;
	font-size: 1rem;
	border: 2px solid #bdb9f3;
	border-radius: 10px;
	margin: 1rem 0;

}

/* .new-task input[type="radio"] {
	background-color: red;
	border: 1px solid blue;
	width: unset;
} */

.radio-group {
	display: flex;
	flex-direction: column;
	color: #464646;
	margin: 0 1rem;
	font-size: 1rem;
}

.radio-group div {
	display: flex;
	gap: 0.5rem;
}

input[type="radio"] {
	display: none;
}



.radio-group div label:nth-of-type(1) {
	border: 2px solid #ffee93;
}

.radio-group div label:nth-of-type(1):hover {
	background-color: #ffee93;
}

.radio-group div label:nth-of-type(1):focus {
	background-color: #ffee93;
}

.radio-group div label:nth-of-type(2) {
	border: 2px solid #a0ced9;
}

.radio-group div label:nth-of-type(2):hover {
	background-color: #a0ced9;
}

.radio-group div label:nth-of-type(3) {
	border: 2px solid #ffc09f;
}

.radio-group div label:nth-of-type(3):hover {
	background-color: #ffc09f;
}

.radio-group label {
	width: 25%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
	gap: .25rem;
	border-radius: 10px;
	background-color: transparent;
	padding: 0 .5rem;
	font-size: 1rem;
	line-height: 1rem;
	cursor: pointer;
	height: 2rem;
}

.new-task {
	position: relative;
	display: flex;
	flex-direction: column;
	width: calc(100% - 2rem);
	background-color: white;
	justify-content: center;
	margin: 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	border-right: 8px solid #bdb9f3;
	font-size: 1rem;
	font-family: "Noto Sans", sans-serif;
	outline: none;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-radius: 10px 0 0 10px;

}

.new-task input::placeholder {
	color: #c2c2c2;
}

.new-task button {
	position: relative;
	align-self: center;
	margin: 1rem auto;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #594fdd;
	padding: 0.75rem;
	font-size: 1rem;
	line-height: 1rem;
	cursor: pointer;
}

.new-task button span {
	display: flex;
	gap: .5rem;
	align-items: center;
}

.task {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
}

.task div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.task-icon {
	font-size: 1.5rem;
	color: #bdb9f3;
}

.task-icon-btn {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
}

.list-input {
	font-size: 1rem;
	font-family: "Noto Sans", sans-serif;
	outline: none;
	border: none;
}

.list-input-completed {
	font-size: 1rem;
	font-family: "Noto Sans", sans-serif;
	outline: none;
	border: none;
	color: #c2c2c2;
	text-decoration: line-through;
}


#todolist-p{

	width: calc(100% - 4rem);
	text-align: center;
	margin: 0 auto;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #bdb9f3;
	padding: 1rem;
	font-size: 1.25rem;
	line-height: 1rem;
	margin-top: 20px;
}

.radio-group p {
	text-align: center;
	margin: 0 auto 1rem;
	font-weight: 600;
	color: #594fdd;
	background-color: transparent;
	padding: .5rem;
	font-size: 1rem;
	line-height: 1rem;
}


/*new------------------------*/

.filter-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	/* justify-content: space-between;
	align-items: center;
	padding: 1rem; */
}

.filter-btn {
	text-align: center;
	background-color: #bdb9f3;
	color: white;
	border-radius: 5px;
	border: 1px solid #594fdd;
	outline: none;
	/* width: 60px;
	height: 40px; */
	font-size: 24px;
	padding: 10px;
}

.filter-btn:hover {
	background-color: #594fdd;
	/* width: 70px;
	height: 50px; */
	/* padding: 20px; */
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #594FDD;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.outer-bar {
	width: 90%;
	height: 10px;
	background-color: #A3A3A3;
	border-radius: 5px;
	margin-bottom: 10px;
}

.inner-bar {
	height: 100%;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}

#ToDoText {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 800;
	color: white;
}

/* #Max-Test {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
} */

.allTasks {
	margin: 0px;
	padding: 0px;
	color: white;
}

.doneTasks {
	margin-top: 5px;
	padding: 0px;
	color: white;
}

#searchbarDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

#searchbarDiv input{
	width: 85%;
	height: 30px;
	padding-left: 10px;
	border-radius: 8px;
	border-style: none;
	background-color: #bdb9f3;
	font-size: 14px;
	color: white;
}
