@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  width: 400px;
  background-color: #efeefc;
  height: 800px;
  border: 2px solid #594fdd;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .15);
  position: relative;
  overflow: hidden;
}

input:focus,
button:focus {
  outline: none;
}